<h1>PRODUCTOS AGREGADOS:</h1>
<ul id="product-list">
  {{#each products}}
  <li>
    <h2>{{title}}</h2>
    <h3>${{price}}</h3>
    <button class="addToCart-button" data-id="{{this._id}}">Add to Cart</button>
  </li>

  {{/each}}
</ul>

<script src="/js/homeView.js"></script>